// 
// Handshake Framework Variables 
// include hs variables, and override any bootstrap variables
// bs4 variables are included, but many if not most variables are not used.
//  

/* Aderant Color Pallette */
$accent: #263d4b; 
$primary: $accent;
$secondary:#597683;
$accent-contrast: #1c97bf;
$error: #dc1d3b;
$warning: #f9f5c0;
$success: #008e6f;
$info: #5c6466;
$light:#edf2f2;
$dark:#5c6466;

$theme-colors: (
  "primary":$primary,
  "secondary":$secondary,
  "success":$success,
  "danger":$error,
  "info":$info,
  "warning":$warning,
  "light":$light,
  "dark":$dark,
);

$k-theme-colors: (
  "primary":$primary,
  "info":$info,
  "success":$success,
  "warning":$warning,
  "error":$error,
);

$base-text:#000; 
$body-bg: #fff;
$body-color: $base-text;
$component-bg: $body-bg;
$component-color: #5c6466;

$border-radius: 0.25rem;

$link-color: $primary;

// Kendo Chart Variables 

$series-a: $primary;
$series-b: $secondary;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
$chart-major-lines: rgba(0, 0, 0, .08);
$chart-minor-lines: rgba(0, 0, 0, .04);

// TabColor is a Variable Specific to the Handshake Framework 
$tabcolor: ( 
  // default
  //"a" : $primary, "b" : $secondary, "c" : $success, "d" : $info, "e" : $warning,
  // samples....
  // blue palette 
  "a": #25274d, "b": #464866, "c": #AAABB8, "d": #2e9cca, "e": #29648a,
  // purple pallete 
  // "a": #2e1114, "b": #501b1d, "c": #64485c, "d": #83677b, "e": #ADADAD, 
  // series pallette (see "series" above)
  //"a" : $series-a, "b" : $series-b, "c" : $series-c, "d" : $series-d, "e" : $series-e,
  // Youthful and Fun
  //"a" : #A64AC9, "b" : #FCCD04, "c" : #FFB48F, "d" : #F5e6cc, "e" : #17e9e0,

  "opacity" : .60,
  "shadow" : 0px 3px 6px 0px rgba(0, 0, 0, 0.5),
  "radius" : 18px,
);

// Import standard Bootstrap Variables 
@import "../node_modules/bootstrap/scss/variables";
