// Specific the maximum width of these devices

$phone-width: 480px !default;
$tablet-width: 768px !default;
$desktop-width: 1440px !default;

@mixin phone {
  // phone is anything that is <  the phone breakpoint
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  // tablet is any viewport >= phone and < tablet 
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  // desktop is any viewport >= tablet and < desktop 
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin widescreen {
  // widescreen is any viewport > desktop 
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

