// Cosmetic fixes for Kendo/Bootstrap combinations 
// remove border for a k-widget using list-group 
.k-widget.list-group {
    border: none;
}

// if a list-group-item is a direct descendent of a k-card or k-card-body, 
// remove the extra borders that appear 

.k-card,
.k-card-body {
    >.list-group>.k-listview-content>.list-group-item {
        border-right: none !important;
        border-left: none !important;

        &:last-child {
            border-bottom: none !important;
        }
    }
}

// include a margin bottom for child elements of d-flex and flex-wrap
.d-flex.flex-wrap {
    > div {
        margin-bottom:.75rem;
    }
}

$listview-content-classes: 
    hs-grid,
    hs-tile-grid,
    list-group,
    k-card-deck,
    k-card-list,
    k-card-group,
    k-card-vertical,
    k-card-horizontal,
    d-flex,
    flex-row,
    flex-column,
    flex-row-reverse,
    flex-column-reverse,
    flex-wrap,
    flex-nowrap,
    flex-wrap-reverse,
    justify-content-start,
    justify-content-end,
    justify-content-center,
    justify-content-between,
    justify-content-around,
    align-items-start,
    align-items-end,
    align-items-center,
    align-items-baseline,
    align-items-stretch,
    align-content-start,
    align-content-end,
    align-content-center,
    align-content-between,
    align-content-around,
    align-content-stretch;

// may be a problem if the classes have code for direct decendents. 
@each $classname in $listview-content-classes {
    .k-listview.#{$classname} {
        >.k-listview-content {
            @extend .#{$classname}
        }
    }
}