$hs-slider-row-height:42px !default;

// kendo default length for a slider is 200px, set values for that * 2 and that * 4
$hs-slider-large-width : $slider-size * 2;
$hs-slider-xlarge-width : $slider-size * 4;

// change default hover to border color....
.k-draghandle:hover {
    box-shadow: 0 0 0 8px rgba($border-color, 0.5);
}

// change default slider button color for when primary is too dark 
.k-slider-buttons.k-slider-wrap>a.k-button {
    background-color: $border-color;
    border-color: $border-color;
}

// css for a html construct that includes a label and text box for the upper and lower slimit and the slider 
.hs-slider-row {
    display: flex;
    flex-flow: row nowrap;
    min-width: $slider-size + 180;

    &.hs-slider-row-lg {
        min-width: $hs-slider-large-width + 180px;
    }

    &.hs-slider-row-xl {
        min-width: $hs-slider-xlarge-width + 180px;
    }

    >div {
        height: $hs-slider-row-height;
        line-height: $hs-slider-row-height;
    }

    .hs-slider-lowerlimit,
    .hs-slider-upperlimit {
        min-width: 58px;
        padding-right: 4px;
        padding-left: 4px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid $border-color;
    }
}

.hs-slider-lg {
    width: $hs-slider-large-width;
}

.hs-slider-xl {
    width: $hs-slider-xlarge-width;
}

// Slider with Theme Colors 

@each $color,
$value in $theme-colors {
    .hs-slider-#{$color} {
        .k-draghandle {
            border-color: $value;
            background-color: $value;

            &:hover {
                border-color: $value;
                background-color: $value;
                box-shadow: 0 0 0 8px rgba($value, .3);
            }

            &.k-state-focused,
            &.k-state-focused:link {
                border-color: $value;
                background-color: $value;
            }
        }

        .k-slider-selection {
            background-color: $value;
            border-color: $value;
        }
        
        .k-slider-buttons.k-slider-wrap>a.k-button {
            background-color: rgba($value, .2);
            border-color: rgba($value, .4);
        }
    }
}