// Some special margin utils that kendo left out 
.k-m-auto { margin: auto !important; }
.k-mt-auto,
.k-my-auto {
  margin-top: auto !important;
}
.k-mr-auto,
.k-mx-auto {
  margin-right: auto !important;
}
.k-mb-auto,
.k-my-auto {
  margin-bottom: auto !important;
}
.k-ml-auto,
.k-mx-auto {
  margin-left: auto !important;
}