.k-tabstrip.hs-tabstrip-full>ul.k-tabstrip-items {
    justify-content: space-between;
}

.k-tabstrip.hs-tabstrip-full>ul.k-tabstrip-items>li.k-item {
    flex: 1 1 auto;
    border-width: 0 0 2px 0;

    &.k-state-active {
        border-color: $primary;
    }

    &:hover {
        border-color: $secondary;
    }
}

.k-tabstrip.hs-tabstrip-full>ul.k-tabstrip-items>li>.k-link {
    text-align: center;
    display: block;
}

.k-tabstrip.hs-tabstrip-uppercase>ul.k-tabstrip-items>li>.k-link {
    text-transform: uppercase;
}

.k-tabstrip.hs-tabstrip-rounded>ul.k-tabstrip-items>li.k-item {
    border-top-right-radius: map-get($tabcolor, "radius");
    border-top-left-radius: map-get($tabcolor, "radius");
}

.k-tabstrip.hs-tabstrip-fullcolor>ul.k-tabstrip-items>li.k-item,
.k-tabstrip.hs-tabstrip-bicolor>ul.k-tabstrip-items>li.k-item {
    opacity: map-get($tabcolor, "opacity");
    border-color: $border-color;
    border-width: 1px 1px 0 1px;

    &:hover {
        opacity: 1;
        border-color: $border-color;
    }

    &.k-state-active {
        opacity: 1;
        box-shadow: map-get($tabcolor, "shadow");
        border-color: transparent;
    }
}

.k-tabstrip.hs-tabstrip-flat>ul.k-tabstrip-items>li.k-item.k-state-active {
    box-shadow: none;
}

.k-tabstrip.hs-tabstrip-bicolor>ul.k-tabstrip-items>li.k-item {

    background-color: map-get($tabcolor, "b");

    & .k-link {
        color: set-textcolor(map-get($tabcolor, "b"));
    }

    &.k-state-active {
        background-color: map-get($tabcolor, "a");

        & .k-link {
            color: set-textcolor(map-get($tabcolor, "a"));
        }
    }
}

.k-tabstrip.hs-tabstrip-fullcolor>ul.k-tabstrip-items>li.k-item {

    &:nth-child(5n+1) {
        background-color: map-get($tabcolor, "a");

        & .k-link {
            color: set-textcolor(map-get($tabcolor, "a"));
        }
    }

    &:nth-child(5n+2) {
        background-color: map-get($tabcolor, "b");

        & .k-link {
            color: set-textcolor(map-get($tabcolor, "b"));
        }
    }

    &:nth-child(5n+3) {
        background-color: map-get($tabcolor, "c");

        & .k-link {
            color: set-textcolor(map-get($tabcolor, "c"));
        }
    }

    &:nth-child(5n+4) {
        background-color: map-get($tabcolor, "d");

        & .k-link {
            color: set-textcolor(map-get($tabcolor, "d"));
        }
    }

    &:nth-child(5n+5) {
        background-color: map-get($tabcolor, "e");

        & .k-link {
            color: set-textcolor(map-get($tabcolor, "e"));
        }
    }
}

// shaded 
.k-tabstrip.hs-tabstrip-shaded>ul.k-tabstrip-items>li.k-item {
    flex: 1 1 auto;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;

    &.k-state-active {
        background-color: map-get($tabcolor, "a");
        color: set-textcolor(map-get($tabcolor, "a"))
    }

    &:hover {
        background-color: map-get($tabcolor, "b");
        color: set-textcolor(map-get($tabcolor, "b"))
    }
}

.k-tabstrip.hs-tabstrip-shaded>ul.k-tabstrip-items>li>.k-link {
    text-align: center;
    display: block;
}

// User Radio Control Toggle for the Tabs
// radio checked : e30a; unchecked : e309 
.k-tabstrip.hs-tabstrip-radio>ul.k-tabstrip-items>li.k-item {
    border: 0;
    margin: 0;

    &:before {
        margin-top: 8px;
        font-family: 'WebComponentsIcons';
        content: "\e309";
        color: $link-color;
    }

    ;

    &.k-state-active:before {
        content: "\e30a";
    }

    ;

    & .k-link {
        padding-left: 2px;
    }
}

// Remove border on list-group items when they are a direct decendent of a kendo tabpanel 
.hs-tabstrip-flush>[role="tabpanel"]>.list-group {
    /* use the inherent padding of the tabpanel */
    margin-left: -16px;
    margin-right: -16px;
}

.hs-tabstrip-flush>[role="tabpanel"]>.list-group>.list-group-item {
    border-width: 0 0 1px 0;
}

.hs-tabstrip-flush>[role="tabpanel"]>.list-group>.list-group-item:last-child {
    border-bottom-width: 0;
}

// special case when a grid is the direc decendent of a kendo tabpanel 
.hs-tabstrip-flush>[role="tabpanel"]>[data-role="grid"] {
    margin: -8px -16px;
    border: 0;
}
