
div.tester {
    display: flex
}
div.tester>div {
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    padding: 20px 10px;
    transition: all .2s ease-in-out;
}
div.tester>div:hover {
    transform: scale(2.0);
    text-transform: uppercase;
    border-radius:10px;
}