$hs-upc-maxwidth:48em !default;

// hs-userphoto--grid-inline is suitable for the following markup in a kendo grid row:
//  <div class="hs-userphoto--grid-inline" style="background-image: url(https://demos.telerik.com/kendo-ui/content/web/Customers/ALFKI.jpg);"></div>
//  this provides a hover over effect with a small image in a circle will expand to a larger square for better visibility 
.hs-userphoto--grid-inline {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 32px 32px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, .2);
  margin-left: 5px;
  transition: all .2s ease-in-out;
}

.hs-userphoto--grid-inline:hover {
  transform: scale(2.0);
  background-size: cover;
  background-position: center top;
  border-radius: 0;
  box-shadow: none;
}

.hs-username--grid-inline {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-left: 3px;
}

// upc is short for "User Profile Card"

@mixin upc-shade($c) {
  background-color: $c;
  color: set-textcolor($c);

  // include rule for title and sub-title text
  .title,
  .subtitle {
    color: set-textcolor($c);
  }
}

@mixin upc-stacked() {
  // force all 4 components into a single stack, may be declared or set with media query 
  grid-template-columns: 1fr;
  grid-template-areas: "photo""header""details""footer";
  max-width: $hs-upc-maxwidth / 2;
}

@mixin upc-mobilefirst() {
  // mobile is a mix in so it may be used declaratively, even on larger viewports.
  // include code required by default when the viewport < "phone width" and if the markup
  // contains the classname "stacked".
  grid-template-columns: minmax(25%, 150px) 1fr;
  grid-template-areas: "photo header""details details""footer footer";

  .hs-upc-photo {
    img {
      height: 100%; //important to set height and width for object fit to work correctly
      width: 100%;
      object-fit: cover;
    }
  }

  @media only screen and (max-width: 320px) {
    @include upc-stacked();
  }
}

.hs-upc {
  @include upc-mobilefirst();
  // ** all viewport rules ** //
  display: grid;
  max-width: $hs-upc-maxwidth;

  border: 1px solid $border-color;
  border-radius: $border-radius;

  .hs-upc-header {
    grid-area: header;
  }

  .hs-upc-details {
    grid-area: details;
  }

  .hs-upc-footer {
    grid-area: footer;
  }

  .hs-upc-photo {
    grid-area: photo;
  }

  .hs-upc-shade {
    @include upc-shade($light);
  }

  .hs-upc-shade-light {
    @include upc-shade($light);
  }

  .hs-upc-shade-dark {
    @include upc-shade($dark);
  }

  .hs-upc-shade-primary {
    @include upc-shade($primary);
  }

  .hs-upc-shade-secondary {
    @include upc-shade($secondary);
  }

  .hs-upc-h-group {
    margin: 0.75rem 0.75rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.25rem;
  }

  .hs-upc-v-group {
    display: flex;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    gap: 0.25rem;

    >.k-button {
      justify-content: flex-start;
    }
  }

  .hs-upc-header {
    .hs-upc-title {
      color: #5c6466;
      font-weight: 500;
      padding: 0.75rem 1.25rem;
    }

    .hs-upc-subtitle {
      color: #959a9c;
      padding: 0 0.75rem 0.75rem 1.25rem;
    }
  }

  &.hs-upc-nophoto {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, min-content) !important;
    grid-template-areas: "header""details""footer" !important;

    .hs-upc-photo {
      display: none !important;
    }
  }

  &.hs-upc-stacked {
    @include upc-stacked();
  }

  &.hs-upc-compact {
    @include upc-mobilefirst();
  }

  @media only screen and (min-width: map-get($container-max-widths, "sm")) {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "photo header""photo details""footer footer";

    .hs-upc-photo {
      img {
        height: 100%; //important to set height and width for object fit to work correctly
        width: 100%;
        max-width: none;
        object-fit: cover;
      }
    }

    .hs-upc-header {
      letter-spacing: 0.15rem;

      .hs-upc-title {
        color: #5c6466;
        font-size: 1.25rem;
      }
    }

    .hs-upc-v-group {
      justify-content: space-around;
    }
  }
}
